


@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Public Sans", sans-serif;
}

/* Footer Styles */
.site-footer {
  background-color: #A1BC98;
  color: #fff;
  padding: 60px 0 20px;
  
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section strong {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-block;
}

.footer-section a {
  color: #fff   ;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #778873;
}

.footer-logo img {
  width: 230px;
  margin-top: 20px;
  
}

.footer-brand {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #F1F3E0;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #778873;
}

.footer-bottom {
  border-top: 1px solid #caf0f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 30px auto 0;
  padding-top: 20px;
  font-size: 13px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #D2DCB6;
}



  .footer-bottom {
    flex-direction: column;
    gap: 10px;
  }



@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Public Sans", sans-serif;
}

header{
    width: auto;
    margin: 0;

}


.logo img {
    width: 235px;

}


header{
    max-width: 1520px;
    width: 100%;
}


.container-header{
    display: flex;
    padding: 15px;
    gap: 15px;
  


}

header {
    background-color: #A1BC98;
}

.box-menu{
    display: flex;
    justify-content: space-between;
    background-color: #A1BC98   ;
}

.booking button {
    background-color:#778873;
    padding: 10px;
    border-radius: 7px;
    border: none;

}


.booking button a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;

}


.sign-in i {
    font-size: 25px;
    padding: 6px;
    color: #F1F3E0;

    
}

.menu-menu-1-container {
    background-color: #A1BC98;
}
.menu{
    display: flex;
    font-size: 20px;
    list-style: none;
    gap: 50px;
    justify-content: center;

}

.menu li a {
    text-decoration: none;
}

.find-icon i{
    font-size: 25px;
    padding: 6px;
}


.menu,
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    position: relative;
    display: inline-block;
}


.menu  li  a {
    display: block;
    padding: 14px 12px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.menu li a:hover {
    color: #778873;
}


.menu li .sub-menu {
    position: absolute;
    min-width: 230px;
    background-color: #A1BC98;
    display: none;
}

.menu li:hover .sub-menu {
    display: block;
}


.menu li .sub-menu li a {
    display: block;
    padding: 12px 20px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.menu li .sub-menu li a:hover {
    background-color: #D2DCB6;
}