/* *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

} */


@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Public Sans", sans-serif;
}

.site-footer {
  background-color: #A1BC98;
  color: #fff;
  padding: 60px 0 20px;
  /* max-width: 1500px;
  width: 100%; */
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section strong {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-block;
}

.footer-section a {
  color: #fff   ;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #778873;
}

.footer-logo img {
  width: 230px;
  margin-top: 20px;
  
}

.footer-brand {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #F1F3E0;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #778873;
}

.footer-bottom {
  border-top: 1px solid #caf0f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 30px auto 0;
  padding-top: 20px;
  font-size: 13px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #D2DCB6;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Public Sans", sans-serif;
}

.container{
    margin: 0;
}

header{
    width: auto;
    margin: 0;

}


.logo img {
    width: 235px;

}


header{
    max-width: 1520px;
    width: 100%;
}


.container-header{
    display: flex;
    padding: 15px;
    gap: 15px;
  


}

header {
    background-color: #A1BC98;
    /* padding: 8px; */
}

.box-menu{
    display: flex;
    justify-content: space-between;
    background-color: #A1BC98   ;
}

.booking button {
    background-color:#778873;
    padding: 10px;
    border-radius: 7px;
    border: none;

}


.booking button a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;

}


.sign-in i {
    font-size: 25px;
    padding: 6px;
    color: #F1F3E0;

    
}

.menu-menu-1-container {
    background-color: #A1BC98;
}
.menu{
    display: flex;
    font-size: 20px;
    list-style: none;
    gap: 50px;
    justify-content: center;

}

.menu li a {
    text-decoration: none;
}

.find-icon i{
    font-size: 25px;
    padding: 6px;
}


.menu,
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    position: relative;
    display: inline-block;
}


.menu  li  a {
    display: block;
    padding: 14px 12px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.menu li a:hover {
    color: #778873;
}


.menu li .sub-menu {
    position: absolute;
    min-width: 230px;
    background-color: #A1BC98;
    display: none;
}

.menu li:hover .sub-menu {
    display: block;
}


.menu li .sub-menu li a {
    display: block;
    padding: 12px 20px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.menu li .sub-menu li a:hover {
    background-color: #D2DCB6;
}


.logo-banner img{
    width: 100%;
    height: 480px;
}

.banner {
    position: relative;
    width: 100%;

}

hero-banner {
    position: relative;
}
.banner{
    position: absolute;
    top: 300px;
    left: 138px;
    
}
.banner h1 span{
    color: #5C6F2B;
}
.btn a{
    background-color: #778873;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

.btn a:hover{
    background-color: #D2DCB6;
}       

.stats-box{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #F1F3E0;
    padding: 40px 0;
    margin-top: auto;

}
.stats-box h2{
    font-size: 30px;
    margin: 0;
    color: #5C6F2B;
}
.stats-box p{
    font-size: 16px;
    margin: 5px 0 0 0;
    color: #5C6F2B;
}

.stats-item {
    width: 160px;
    text-align: center;
    color: #5C6F2B;
    background-color: #F1F3E0;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s ease, transform 0.3s ease; 
}

.stats-item:hover {
    background-color:#A1BC98;
    transform: scale(1.05);
    cursor: pointer; 
    color: #F1F3E0;

}

.doctors-box{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 60px;
}   

.doctors-item {
    width: 220px;
    text-align: center;
    background-color: #F1F3E0;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s ease, transform 0.3s ease; 
}
.doctors-item:hover {
    background-color:#A1BC98;
    transform: scale(1.05);
    cursor: pointer; 
}
.doctors-item img{
    width: 200px;
    border-radius: 10px;
}
.doctors-item h3{
    font-size: 20px;
    margin: 10px 0 5px 0;
    color: #5C6F2B;     
}
.doctors-item p{
    font-size: 14px;
    margin: 0;          

    color: #5C6F2B;
}

.tittle {
    color: #5C6F2B;
    text-align: center;
    margin-bottom: 60px;
}
.tittle h1{
    margin-bottom: 10px;
}
.tittle p{
    font-size: 16px;
    margin-top: 0;
}
.btn-detail{
    text-align: center;
    margin-top: 60px;
}
.btn-detail a{
    background-color: #778873;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;

}
.btn-detail a:hover{
    background-color: #D2DCB6;
}

.services-box{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
    margin-bottom: 60px;

}   
.services-item {
    width: 390px;
    
    text-align: center;
    background-color: #F1F3E0;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s ease, transform 0.3s ease; 
}
.services-item:hover {
    background-color:#A1BC98;           
    transform: scale(1.05);
    cursor: pointer;
} 
.services-item img{
    width: 350px;
}       
.services-item h3{
    font-size: 20px;
    margin: 10px 0 5px 0;
    color: #5C6F2B;     
}
.services-item p{
    font-size: 14px;
    margin: 0;          
    color: #5C6F2B;
}   


.testimonial-box{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
    margin-bottom: 60px;

}
.testimonial-item {
    width: 400px;
    text-align: center;
    background-color: #F1F3E0;
    padding: 20px;
    border-radius: 10px;
    transition: background 0.3s ease, transform 0.3s ease; 
}
.testimonial-item:hover {
    background-color:#A1BC98;           
    transform: scale(1.05);
    cursor: pointer;        
}
.testimonial-item img{
    width: 80px;
    border-radius: 50%;         
}

.testimonial-item p{
    font-size: 14px;
    color: #5C6F2B;
}

.testimonial-item h4{
    margin: 0;
}
.rating i{
    color: gold;
    font-size: 15px;
}


.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

.dots span {
  width: 8px;
  height: 8px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dots span.active {
  width: 18px;
  background: #778873;
  border-radius: 10px;
}

