@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Public Sans", sans-serif;
}

header{
    margin-top: 40px;
}


.logo img {
    width: 230px;

}

.container-header{
    /* background-color:#f9dcc4; */
    display: flex;
    padding: 15px;
    gap: 15px;


}

header {
    background-color: #00b4d8;
    padding: 8px;
}

.box-menu{
    display: flex;
    justify-content: space-between;
    background-color: #00b4d8   ;
}

.booking button {
    background-color:#90E0EF;
    padding: 10px;
    border-radius: 7px;
    border: none;

}


.booking button a {
    font-size: 15px;
    color: #03045E;
    text-decoration: none;

}


.sign-in i {
    font-size: 25px;
    padding: 6px;
    color: #03045E;

    
}

.menu-menu-1-container {
    background-color: #00b4d8;
    /* display: flex; */
}
.menu{
    display: flex;
    font-size: 20px;
    list-style: none;
    gap: 50px;
    justify-content: center;

}

.menu li a {
    text-decoration: none;
    color: #03045E;
}

.find-icon i{
    font-size: 25px;
    padding: 6px;
    color: #03045E;
}


.menu,
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    position: relative;
    display: inline-block;
}


.menu  li  a {
    display: block;
    padding: 14px 12px;
    color: #03045E;
    font-weight: 500;
    text-decoration: none;
}

.menu li a:hover {
    color: #90e0ef;
}


.menu li .sub-menu {
    position: absolute;
    min-width: 230px;
    background-color: #00b4d8;
    display: none;
}

.menu li:hover .sub-menu {
    display: block;
}


.menu li .sub-menu li a {
    display: block;
    padding: 12px 20px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.menu li .sub-menu li a:hover {
    background-color: #90e0ef;
}

