@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Public Sans", sans-serif;
}

.site-footer {
    background-color: #A1BC98;
  color: #fff;
  padding: 60px 0 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section strong {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-block;
}

.footer-section a {
  color: #fff   ;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #778873;
}

.footer-logo img {
  width: 230px;
  margin-top: 20px;
  
}

.footer-brand {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #F1F3E0;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #778873;
}

.footer-bottom {
  border-top: 1px solid #caf0f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 30px auto 0;
  padding-top: 20px;
  font-size: 13px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #D2DCB6;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
  }
}