@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Public Sans", sans-serif;
}


.site-footer {
    background-color: #A1BC98;
  color: #fff;
  padding: 60px 0 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section strong {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-block;
}

.footer-section a {
  color: #fff   ;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #778873;
}

.footer-logo img {
  width: 230px;
  margin-top: 20px;
  
}

.footer-brand {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #F1F3E0;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #778873;
}

.footer-bottom {
  border-top: 1px solid #caf0f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 30px auto 0;
  padding-top: 20px;
  font-size: 13px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #D2DCB6;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
  }
}


* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
  color: #333;
}

.contact-section {
  width: 100%;
  padding: 40px 0;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1100px;
  margin: auto;
  flex-wrap: wrap;
}

.contact-image img {
  width: 500px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  
}


.contact-form {
  padding-top: 50px;
  flex: 1;
  min-width: 300px;
}

.contact-form h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #111;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-weight: 500;
  margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #778873;
}

.terms {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 0.9rem;
}

.terms a {
  color: #646964;
  text-decoration: none;
}

button {
   display: block;
  width: 80%;
  background-color: #93a78b; /* soft green tone */
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 14px 0;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #565c55;
}

/* Contact info boxes */
.contact-info {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.info-box {
  
  background-color: #8fa38b;
  color: white;
  padding: 20px 30px;
  border-radius:5px;
  width: 280px;
  text-align: center;
}

.info-box i {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.info-box h3 {
  margin-bottom: 10px;
  font-weight: 600;
}

.info-box p {
  line-height: 1.5;
  font-size: 0.95rem;
}


  .contact-image img {
    width: 200px;
  }

  .contact-form {
    width: 90%;
  }

  .info-box {
    width: 50%;
  }


header{
    margin-top: 40px;
}


.logo img {
    width: 235px;

}

.container-header{
    /* background-color:#f9dcc4; */
    display: flex;
    padding: 15px;
    gap: 15px;


}

header {
    background-color: #A1BC98;
    padding: 8px;
}

.box-menu{
    display: flex;
    justify-content: space-between;
    background-color: #A1BC98   ;
}

.booking button {
    background-color:#778873;
    padding: 10px;
    border-radius: 7px;
    border: none;

}


.booking button a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;

}


.sign-in i {
    font-size: 25px;
    padding: 6px;
    color: #F1F3E0;

    
}

.menu-menu-1-container {
    background-color: #A1BC98;
    /* display: flex; */
}
.menu{
    display: flex;
    font-size: 20px;
    list-style: none;
    gap: 50px;
    justify-content: center;

}

.menu li a {
    text-decoration: none;
    /* color: #F1F3E0; */
}

.find-icon i{
    font-size: 25px;
    padding: 6px;
    /* color: #F1F3E0; */
}


.menu,
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    position: relative;
    display: inline-block;
}


.menu  li  a {
    display: block;
    padding: 14px 12px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.menu li a:hover {
    color: #778873;
}


.menu li .sub-menu {
    position: absolute;
    min-width: 230px;
    background-color: #A1BC98;
    display: none;
}

.menu li:hover .sub-menu {
    display: block;
}


.menu li .sub-menu li a {
    display: block;
    padding: 12px 20px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.menu li .sub-menu li a:hover {
    background-color: #D2DCB6;

}
.contact-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 20px;
  margin-bottom: 100px;

  
}

.map-container {
  width: 100%;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border:rgb(87, 109, 87);
}


