@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
  font-family: "Public Sans", sans-serif;
}


.site-footer {
  background-color: #A1BC98;
  color: #fff;
  padding: 60px 0 20px;
  
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section strong {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-block;
}

.footer-section a {
  color: #fff   ;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #778873;
}

.footer-logo img {
  width: 230px;
  margin-top: 20px;
  
}

.footer-brand {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #F1F3E0;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #778873;
}

.footer-bottom {
  border-top: 1px solid #caf0f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 30px auto 0;
  padding-top: 20px;
  font-size: 13px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #D2DCB6;
}
  .footer-bottom {
    flex-direction: column;
    gap: 10px;
  }


* {
  margin:0;
  padding: 0;
 
}

body {
  background-color: #fff;
  color: #333;
}

.contact-section {
  width: 100%;
  padding: 40px 0;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1100px;
  margin: auto;
  flex-wrap: wrap;
}

.contact-image img {
  width: 500px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  
}


.contact-form {
  padding-top: 50px;
  flex: 1;
  min-width: 300px;
}

.contact-form h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #111;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-weight: 500;
  margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #778873;
}

.terms {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 0.9rem;
}

.terms a {
  color: #646964;
  text-decoration: none;
}

button {
   display: block;
  width: 80%;
  background-color: #93a78b; 
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 14px 0;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #565c55;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.info-box {
  
  background-color: #8fa38b;
  color: white;
  padding: 20px 30px;
  border-radius:5px;
  width: 280px;
  text-align: center;
}

.info-box i {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.info-box h3 {
  margin-bottom: 10px;
  font-weight: 600;
}

.info-box p {
  line-height: 1.5;
  font-size: 0.95rem;
}
  
.container{
    margin: 0;
}

  .contact-image img {
    width: 200px;
}

  .contact-form {
    width: 90%;
}

  .info-box {
    width: 50%;
}

header{
  width: auto;
  margin: 0;
}

.logo img {
  width: 235px;

}

header{
  max-width: 1537px;
  width: 100%;
}


.container-header{
  display: flex;
  padding: 15px;
  gap: 15px;
}

header {
  background-color: #A1BC98;
}

.box-menu{
  display: flex;
  justify-content: space-between;
  background-color: #A1BC98   ;
}

.booking button {
  background-color:#778873;
  padding: 10px;
  border-radius: 7px;
  border: none;
  width: 100%;
}


.booking button a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;

}


.sign-in i {
  font-size: 25px;
  padding: 6px;
  color: #F1F3E0;
}

.menu-menu-1-container {
  background-color: #A1BC98;
}
.menu{
  display: flex;
  font-size: 20px;
  list-style: none;
  gap: 50px;
  justify-content: center;

}

.menu li a {
  text-decoration: none;
}

.find-icon i{
  font-size: 25px;
  padding: 6px;
}


.menu,
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  position: relative;
  display: inline-block;
}

.menu  li  a {
  display: block;
  padding: 14px 12px;
  color: #fff;
  font-weight: 500;
}

.menu li a:hover {
color: #778873;
}


.menu li .sub-menu {
  position: absolute;
  min-width: 230px;
  background-color: #A1BC98;
  display: none;
}

.menu li:hover .sub-menu {
    display: block;
}


.menu li .sub-menu li a {
  display: block;
  padding: 12px 20px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.menu li .sub-menu li a:hover {
  background-color: #D2DCB6;

}
.contact-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 20px;
  margin-bottom: 100px;
  
}

.map-container {
  width: 100%;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.map-container iframe {
  width: 100%;
  height: 100%;
  border:rgb(87, 109, 87);
}

.logo-banner img{
  width: 100%;
  height: 480px;
}

.banner {
  position: relative;
  width: 100%;

}

hero-banner {
  position: relative;
}
.banner{
  position: absolute;
  top: 300px;
  left: 138px;
    
}
.banner h1 span{
  color: #5C6F2B;
}
.btn a{
  background-color: #778873;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  line-height: 6;
}

.btn a:hover{
    background-color: #D2DCB6;
}       

.stats-box{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #F1F3E0;
  padding: 40px 0;
  margin-top: auto;

}
.stats-box h2{
  font-size: 30px;
  margin: 0;
  color: #5C6F2B;
}
.stats-box p{
  font-size: 16px;
  margin: 5px 0 0 0;
  color: #5C6F2B;
}

.stats-item {
  width: 160px;
  text-align: center;
  color: #5C6F2B;
  background-color: #F1F3E0;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.3s ease, transform 0.3s ease; 
}

.stats-item:hover {
  background-color:#A1BC98;
  transform: scale(1.05);
  cursor: pointer; 
  color: #F1F3E0;

}

.doctors-box{
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 60px;
}   

.doctors-item {
  width: 220px;
  text-align: center;
  background-color: #F1F3E0;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.3s ease, transform 0.3s ease; 
}
.doctors-item:hover {
  background-color:#A1BC98;
  transform: scale(1.05);
  cursor: pointer; 
}
.doctors-item img{
  width: 200px;
  border-radius: 10px;
}
.doctors-item h3{
  font-size: 20px;
  margin: 10px 0 5px 0;
  color: #5C6F2B;     
}
.doctors-item p{
  font-size: 14px;
  margin: 0;          
  color: #5C6F2B;
}

.tittle {
  color: #5C6F2B;
  text-align: center;
  margin-bottom: 60px;
}
.tittle h1{
  margin-bottom: 10px;
}
.tittle p{
  font-size: 16px;
  margin-top: 0;
}
.btn-detail{
  text-align: center;
  margin-top: 60px;
}
.btn-detail a{
     background-color: #778873;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;

}
.btn-detail a:hover{
  background-color: #D2DCB6;
}

.services-box{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
  margin-bottom: 60px;

}   
.services-item {
  width: 390px; 
  text-align: center;
  background-color: #F1F3E0;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.3s ease, transform 0.3s ease; 
}
.services-item:hover {
  background-color:#A1BC98;           
  transform: scale(1.05);
  cursor: pointer;
} 
.services-item img{
  width: 350px;
}       
.services-item h3{
  font-size: 20px;
  margin: 10px 0 5px 0;
  color: #5C6F2B;     
}
.services-item p{
  font-size: 14px;
  margin: 0;          
  color: #5C6F2B;
}   


.testimonial-box{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
  margin-bottom: 60px;

}
.testimonial-item {
  width: 400px;
  text-align: center;
  background-color: #F1F3E0;
  padding: 20px;
  border-radius: 10px;
  transition: background 0.3s ease, transform 0.3s ease; 
}
.testimonial-item:hover {
    background-color:#A1BC98;           
    transform: scale(1.05);
    cursor: pointer;        
}
.testimonial-item img{
  width: 80px;
  border-radius: 50%;         
}

.testimonial-item p{
  font-size: 14px;
  color: #5C6F2B;
}

.testimonial-item h4{
  margin: 0;
}
.rating i{
  color: gold;
  font-size: 15px;
}


.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

.dots span {
  width: 8px;
  height: 8px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dots span.active {
  width: 18px;
  background: #778873;
  border-radius: 10px;
}

.tittle- {
  color: #5C6F2B;
  text-align: center;
  margin-bottom: 60px;
}
.tittle- h1{
    margin-bottom: 35px;
}

.faq-item {
  max-width: 800px;
  margin: 10px auto;
  top: 20px;

}

.faq-question {
  width: 100%;
  text-align: left;
  font-size: 15px;
  padding: 18px;
  background: #F1F3E0;
  border: none;
  outline: none;
  color: #333;
  transition: background 0.3s;
}

.faq-question:hover {
  background: #A1BC98;
}


.contact-form {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  color: #333;
  font-weight: 500;
  margin-right: auto;
  line-height: 30px;
  font-size: 17px;
}

.form-group input{
  background-color: #D2DCB6;
  color: #2f2828;
  font-size: 17px;
   

}


.form-group input,
.form-group textarea {
  padding: 16px;
  border: 1px ;
  border-radius: 8px;
  transition: border 0.3s;
}


.form-group2 {
  display: flex;
  flex-direction: column;
}

.form-group2 label {
  margin-bottom: 5px;
  color: #333;
  font-weight: 500;
  margin-right: auto;
  line-height: 30px;
}


.form-group2 input{
  background-color: #D2DCB6;
  color: #2f2828;
  font-size: 17px;  

}

.form-group2 input,
.form-group2 textarea {
  padding: 16px;
  border: 1px ;
  border-radius: 8px;
  transition: border 0.3s;
  padding: 60px;
}


.contact-form .btn:hover {
  background-color: #F1F3E0;
}

.find-doctor {
  padding: 40px 20px;
}

.tittle-find-doc {
  text-align: center;
  margin-bottom: 30px;
}

.tittle-find-doc h1 {
  font-size: 32px;
  color: #5C6F2B;
}

.search-doctor {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.search-doctor input,
.search-doctor select {
  width: 220px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #d6ddc4;
  border-radius: 4px;
  background-color: #fff;
}

.search-doctor button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  padding: 12px;
  width: auto;
  background-color: #778878;
}

.search-doctor button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

.doctors-boxf{
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 60px;
}   

.doctors-itemf {
  width: 220px;
  text-align: center;
  background-color: #F1F3E0;
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease; 
}
.doctors-itemf:hover {
  background-color:#A1BC98;
  transform: scale(1.05);
  cursor: pointer; 
}
.doctors-itemf img{
  width: 200px;
  border-radius: 10px;
}
.doctors-itemf h3{
  font-size: 20px;
  color: #5C6F2B;     
}

.find{
  background-color: #A1BC93;
  border-radius: 50px;
  width: 40px;
  padding: 10px;
  font-size: 15px;
  margin-left: auto;
  

}
.find a{
  color:  #fff;

}


.logo-banner img{
  width: 100%;
  height: 350px;
}

.banner {
  position: relative;
  width: 100%;

}
.hero-banner {
  position: relative;
}
.banner{
  position: absolute;
  top: 92px;
  right: 275px;
}





.page-header h1 {
    font-size: 40px;
    color: #565c55;
    margin: 0;
}

.messages-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.message-card {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    gap: 80px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.page-header {
    background: #dad7cd;
    padding: 80px ;
}

.breadcrumb {
    font-size: 14px;
    color: #565c55;
    margin-bottom: 10px;
}

.page-header h1 {
    font-size: 40px;
    color: #5C6F2B;
    margin: 0;
}

.message-card img {
    justify-content: space-between;

    width: 450px;
    height: 300px;
    /* object-fit: cover; */
    border-radius: 10px;
}

.message-content {
    flex: 1;
}

.message-content h3 {
    color: #5C6F2B;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 15px;
}

.message-content p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

.message-card:nth-child(even) {
    flex-direction: row-reverse;
}
